@media screen and (max-width: 614px) {

    .chatField{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(100% - 360px);
        position: relative;
        overflow: scroll;
        padding-top: 106px;
        color: var(--chat_background_color);
        bottom: 80px;
    }

    .message ul{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width:100%;
        height: 40px;
        border-radius: 2px;
    }

    .hour, .from, .toUsers, .text{
        font-weight: 400;
        font-size: 14px;
        line-height: 16.41px;
        color: var(--from_text_color);
        margin: 0px 2px 0px 2px;
    }

    .hour{
        color:var(--text_hour_color);
    }

    .from{
        font-weight: 700;
    }

    .toUsers span{
        font-weight: 700;
    }

    .globalMessage{
        background-color: var(--message_for_all);
    }

    .privateMessage{
        background-color: var(--message_private);
    }

    .statusMessage{
        background-color: var(--message_enter_room);
    }

}