@media screen and (max-width: 614px) {

    .chatField{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 600px;
        position: relative;
        overflow: scroll;
        padding-top: 26px;
        background-color: red;
    }
}