@media screen and (max-width: 614px) {
    .inputMessageField{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 80px;
        background-color: var(--footer_background_color);
        position: fixed;
        bottom: 0px;
    }

    .inputMessageContainer{
        display: flex;
        width: 100%;
        height: 30px;
        padding-left: 17px;
    }

    .inputMessageContainer input{
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
        width: calc(100% - 59px);
        font-weight: 400;
        font-size: 18px;
        line-height: 22.5px;
    }

    .inputMessage::placeholder{
        font-weight: 400;
        font-style: italic;
        font-size: 18px;
        line-height: 21.09px;
    }

    .sendMessage, .sendMessage ion-icon{
        width: 26px;
        height: 26px;
        padding-right: 16px;
    }
}
